{% extends "spa/components/spa_tab.jinja" %}
{% block title %}Settings{% endblock %}
{% set tab = 'index' %}
{% block main %}
Hello
{% endblock %}



{% block scripts %}
    <script>
    </script>
{% endblock %}
