{% extends "spa/components/spa_tab.jinja" %}
{% block title %}Settings{% endblock %}
{% set tab = 'index' %}
{% block content %}
    <style>

    </style>
    <br><br>
    <div class="tagline">&ldquo; SpaService 4thewin.&rdquo;</div>
{% endblock %}



{% block scripts %}
    <script>
    </script>
{% endblock %}
