{% extends "spa/components/spa_tab.jinja" %}
{% block title %}Settings{% endblock %}
{% set tab = 'index' %}
{% block content %}
    <style>

    </style>
    <br><br>
    <div class="tagline">&ldquo; SPA - The Todo List of choice!&rdquo;</div>
    <br><br><br><br>
    <div class="text-lg text-sm">
        <div id="root"></div>
    </div>
    

{% endblock %}



{% block scripts %}
    <link href="/svc/spa/app/static/css/main.073c9b0a.css" rel="stylesheet">
    <script defer="defer" src="/svc/spa/app/static/js/main.d0d13970a68d9472f53b.js"></script>
{% endblock %}
